#contact{
    p{
        
        font-size: 1.3em;
    }
    .sc-wrapper{
        margin-left:0;
        margin-top: 5px;
        a{
            width: 50px;
            height: 50px;
            margin-right: 2*$minorMargin;
        }
    }
}

@media only screen and(max-width: 900px) {
    section#contact{
        height:400px;
    }
    #contact{
        margin-bottom: 0px;
        height: 100px;
        p{
            font-size: 4vw;
        }
        .sc-wrapper{
            float: initial;
            height: 100px;
            width: 100px;
            margin: -20px auto 0 auto;
            a{
                width: 9vw;
                height: 9vw;
                margin: 0;
            }
            a:first-of-type{
                margin-right: 1vw;
                
            }
            a:nth-of-type(2){
                margin-left:  1vw;
            }
        }
    }
}