$menuWidth: 52vw;
$gap: $menuWidth/100;
$rowHeight: $menuWidth/3.33 - $gap/2;
.mobile-menu {
  display: none;
  background-color: red;
}

.mobile-menu.show {
  display: none;
}
.tiles-menu {
  width: $menuWidth;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: grid;
  grid-template-columns: $menuWidth/2-$gap/2 $menuWidth/2-$gap/2;
  grid-template-rows: $rowHeight $rowHeight/1.68;
  gap: $gap;

  & > li:first-of-type {
    background-image: url('../../resources/img-min/tilesBackground/oil.jpg');
    > a:hover {
      text-decoration: none;
      color: $text_link;
    }
  }

  & > li:nth-of-type(2) {
    background-image: url('../../resources/img-min/tilesBackground/murals.JPG');
  }

  & > li:nth-of-type(3) {
    background-image: url('../../resources/img-min/tilesBackground/drawings.jpg');
    background-position-y: -120px;
    > a:hover {
      text-decoration: none;
      color: $text_link;
    }
  }

  & > li:last-of-type {
    background-image: url('../../resources/img-min/tilesBackground/architecture.jpg');
    background-position-y: -150px;
  }

  li {
    background-size: cover;
    background-repeat: no-repeat;

    display: block;
    a {
      display: inline-block;
      margin: $minorMargin 0 0 $minorMargin;
      //font-size: 1.5em;
      font-size: 1.5vw;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      margin: 10px 0 0 $minorMargin;

      a {
        display: inline-block;
        margin: 5px 0 0 0;
        font-size: 0.9vw;
        font-weight: 300;
      }

      padding: 0;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu.show {
    display: none;
  }

  $menuWidth: 74vw;
  $gap: $menuWidth/100;
  $rowHeight: $menuWidth/3 - $gap/2;

  .tiles-menu {
    width: $menuWidth;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: $menuWidth/2-$gap/2 $menuWidth/2-$gap/2;
    grid-template-rows: $rowHeight $rowHeight/1.68;
    gap: $gap;

    li {
      a {
        font-size: 2vw;
        &:hover {
          text-decoration: underline;
        }
      }
      ul {
        a {
          font-size: 1.4vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  $menuWidth: 70vw;
  $gap: $menuWidth/100;
  $rowHeight: $menuWidth/2;
  .mobile-menu.show {
    display: block;
    width: 100vw;
  }

  .mobile-menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.925);
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width 200ms ease;

    ul {
      padding: 0;
      text-align: center;
      margin-top: 25vh;
      li {
        padding: 10px;
      }
    }
    .closeBtn {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 10;
      font-size: 1.7em;
      line-height: 5vw;
      margin: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .tiles-menu {
    width: $menuWidth;
    display: grid;
    grid-template-columns: $menuWidth;
    grid-template-rows: $rowHeight $rowHeight $rowHeight/2 $rowHeight/2;
    gap: $gap;
    li {
      text-align: center;
      text-transform: uppercase;
      a {
        display: block;
        line-height: $rowHeight;
        font-weight: 300;
        padding: 0;
        margin: 0 0 0 2vw;
        font-size: 4.5vw;
        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }
      &:nth-of-type(3) a {
        line-height: $rowHeight/2;
      }

      &:nth-of-type(4) a {
        line-height: $rowHeight/2;
      }
      ul {
        display: none;
        a {
          font-size: 1.4vw;
        }
      }
    }
  }
}
