$navHeight: 60px;
$scIconSize: 28px;

nav{
    height: $navHeight;
    width: 100%;
    background-color: #85858d13;
    position: fixed;
    z-index: 1;
    top: 0px;
}

.nav-list{
    float:right;
    font-size: 1.1em;
    li{
        float: left;
        line-height: $navHeight;
        margin-right: $majorMargin; 
    }
    li:hover{
        .drop-down-list{
            display: block;
        }
        &:nth-child(3) a{
            border: 0 0 0 1px solid rgb(255, 255, 255);
           
        }
    }
}

.drop-down-list{
    display: none;
    position: absolute;
    margin: 0;
    //padding-left: $minorMargin;
    padding: 0 20px 0 20px;
    background-color: $dropdown;
    width: 150px;
    height: auto;
    li{
        border-bottom: 1px solid rgb(238, 237, 237);
        width: 100%;
        &:last-of-type{
            border-bottom: none;
        }
    }
    li:hover{
        .drop-down-menu{
            display: block;
        }
    }
}

.drop-down-menu{
    //display: none;
    border-top: 1px solid rgb(238, 237, 237);
    
    li{
        
        border-bottom: none;
        
        line-height: 35px;
    }
    a{
        font-size: 0.9em;

    }
    
}