@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  background-color: #aaabb6;
  color: #fffefe;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

::-moz-selection {
  background: #575869;
}

::selection {
  background: #575869;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  color: #ebf0eb;
}

a:hover {
  color: #fffefe;
}

nav {
  height: 60px;
  width: 100%;
  background-color: #85858d13;
  position: fixed;
  z-index: 1;
  top: 0px;
}

.nav-list {
  float: right;
  font-size: 1.1em;
}

.nav-list li {
  float: left;
  line-height: 60px;
  margin-right: 95px;
}

.nav-list li:hover .drop-down-list {
  display: block;
}

.nav-list li:hover:nth-child(3) a {
  border: 0 0 0 1px solid white;
}

.drop-down-list {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0 20px 0 20px;
  background-color: #cac7c7de;
  width: 150px;
  height: auto;
}

.drop-down-list li {
  border-bottom: 1px solid #eeeded;
  width: 100%;
}

.drop-down-list li:last-of-type {
  border-bottom: none;
}

.drop-down-list li:hover .drop-down-menu {
  display: block;
}

.drop-down-menu {
  border-top: 1px solid #eeeded;
}

.drop-down-menu li {
  border-bottom: none;
  line-height: 35px;
}

.drop-down-menu a {
  font-size: 0.9em;
}

#index-page section {
  height: 100vh;
}

#index-page .content-wrap {
  margin-left: 642px;
}

#index-page .content-wrap article {
  width: 900px;
  margin-top: 50px;
  font-size: 1.2em;
}

#index-page #title .content-wrap {
  margin-left: 0;
}

#index-page h3 {
  font-size: 4em;
  font-weight: 400;
  padding-top: 150px;
}

.painting-wrapper {
  width: 200px;
  height: 300px;
  margin: 50px;
}

.painting-wrapper figcaption {
  text-align: center;
  line-height: 5px;
  text-transform: uppercase;
}

.painting-wrapper figcaption .availability {
  font-weight: 600;
}

.painting-wrapper .painting {
  width: 100%;
  height: 250px;
  margin: 0;
}

.painting-wrapper img {
  display: block;
  height: 250px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.007)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.007));
}

.sc-wrapper {
  height: 60px;
  width: auto;
  float: left;
  margin-left: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sc-wrapper a {
  margin-right: 25px;
  width: 28px;
  height: 28px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: invert(0.94);
          filter: invert(0.94);
}

.sc-wrapper a:first-of-type {
  background-image: url("../../resources/img-min/icons/f-icon.png");
}

.sc-wrapper a:last-of-type {
  background-image: url("../../resources/img-min/icons/ig-icon.png");
}

.sc-wrapper a:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.gallery-wrapper {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.gallery-wrapper .gallery {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-size: 7em;
  font-weight: 500;
  text-align: center;
  margin-top: 40vh;
}

section.article-box article {
  height: 500px;
  overflow-y: auto;
}

#contact p {
  font-size: 1.3em;
}

#contact .sc-wrapper {
  margin-left: 0;
  margin-top: 25px;
}

#contact .sc-wrapper a {
  width: 50px;
  height: 50px;
  margin-right: 50px;
}

#aboutMe {
  position: relative;
}

#aboutMe img {
  position: absolute;
  z-index: -2;
  top: 0;
  left: -550px;
  height: 100%;
}

.tiles-menu {
  width: 1000px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 495px 495px;
      grid-template-columns: 495px 495px;
  -ms-grid-rows: 295px 175.59524px;
      grid-template-rows: 295px 175.59524px;
  gap: 10px;
}

.tiles-menu > li:first-of-type {
  background-image: url("../../resources/img-min/tilesBackground/oil.jpg");
}

.tiles-menu > li:nth-of-type(2) {
  background-image: url("../../resources/img-min/tilesBackground/murals.JPG");
}

.tiles-menu > li:nth-of-type(3) {
  background-image: url("../../resources/img-min/tilesBackground/drawings.jpg");
  background-position-y: -120px;
}

.tiles-menu > li:last-of-type {
  background-image: url("../../resources/img-min/tilesBackground/architecture.jpg");
  background-position-y: -150px;
}

.tiles-menu li {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

.tiles-menu li a {
  display: inline-block;
  margin: 25px 0 0 25px;
  font-size: 1.5em;
  font-weight: 400;
}

.tiles-menu li a:hover {
  text-decoration: underline;
}

.tiles-menu li ul {
  margin: 10px 0 0 25px;
  padding: 0;
}

.tiles-menu li ul a {
  display: inline-block;
  margin: 5px 0 0 0;
  font-size: 20px;
  font-weight: 300;
}

.site-header {
  margin-bottom: 95px;
}

.site-header h1 {
  font-weight: 100;
  font-size: 5em;
  margin-top: 190px;
}

.site-header h2 {
  text-align: center;
  font-weight: 100;
  font-size: 2em;
}
/*# sourceMappingURL=styles.css.map */