//COLOURS
$text_primary: #fffefe;
$text_link: #ebf0eb;
$active_link: #fffefe;
$background: #aaabb6;
$highlight: #575869;
$dropdown: #cac7c7de;
$footer: #414252;
//VALUES
$majorMargin: 95px;
$minorMargin: 25px;
$contentMargin: 642px;
